# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_export_environment.sh

# iOS
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/.generated/
ios/Pods/
ios/.symlinks/
ios/Profile
ios/Flutter/App.framework
ios/Flutter/engine/

# Android
.android/
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# IDE
.vscode/
.idea/
*.iml

# Others
.macos/
linux/
windows/
web/
